{%extends 'all/base.html'%}
{{block.super}}
{% block content %}

{% for all in cars%}

<div class="col-md-4" style='padding:5px; margin-left:50px;'>
  <h2 class="account-heading" style="font-family: 'Pattaya', sans-serif;"><b>{{all.car_make}}</b></h2>
  <p> <b>Model:  </b>{{all.car_model}}</p>
  <p> <b>Year:  </b>{{all.year}}</p>


{% if all.front_image %}


<p><b>Front Image:</b></p>
    <div class="card-img-top" style='border:#118400; box-shadow: 5px 10px 18px #888888;width: 18rem;'>
      <img src=" {{all.front_image.url}}" alt="jpg" width="350" height="300" />
    </div>
 <br>
{% endif %}

{% if all.logo_image %}

<p><b>Logo Image:</b></p>

<div class="card-img-top" style='border:#118400; box-shadow: 5px 10px 18px #888888;width: 18rem;'>
  <img src=" {{all.logo_image.url}}" alt="jpg" width="350" height="300" />
</div>
  <br>
{% endif %}

  <a class="btn btn-primary" href="{% url 'login'%}"> View more..</a> <br><br>
</div>

<hr>


{% endfor %}



{% endblock %}
