{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse"  style="background-color:white; border:white; padding:10px; position:static; ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home" style="font-family: 'Dancing Script', cursive;">
            Fictional Vehicles</a>

    </div>

    <div class="col-xs-12 col-md-12 col-md-6 col-lg-6 col-xl-6">
      <a class="btn btn-primary" href="{% url 'home' %}"> View all</a>
      <a class="btn btn-primary" href="{% url 'display' %}" style=""> Add vehicles</a>
    </div>
    <p style="font-size:20px;margin-right:40px;">Welcome <b>{{request.user}}</b></p>
   <p><a href="{% url 'logout' %}" style="font-size:20px; text-decoration:none;margin-right:80px; "><b>logout</b></a><p>



  </div>
</nav>
</body>
</html>
