{{block.super}}
{% block content %}
<!-- <h1 style="text-align:center; font-family: 'Pattaya', sans-serif;">Institutions</h1><hr> -->


{% for all in cars%}


<div class="content-section">
  <div class="media">

    <div class="col-md-4">
    </div>

    <div class="col-md-12">
      <div class="media-body">
        <div class="col-md-4" style='padding:5px; margin-left:250px;'>
          <h2 class="account-heading" style="font-family: 'Pattaya', sans-serif;"><b>{{all.car_make}}</b></h2><br><br>
          <p> <b>Name:  </b>{{all.car_moddel}}</p>
          <p> <b>Bio:  </b>{{all.year}}</p><br>
        </div>



      </div>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</div>

{% endfor %}

{% endblock %}
